@import "~bootstrap/scss/bootstrap";

a[target='_blank']:after {
  content: '\1F5D7'
}

/*
  Hides Sitecore Experience Editor markup,
  if you run the app in connected mode while the Sitecore cookies
  are set to edit mode.
*/
.scChromeData, .scpm { display: none !important; }

.cartline {
  display: flex;
  flex-direction: row;
}

.cartline__name {
  align-self: flex-start;
  font-size: 15px;
}

.cartline__price {
  flex: 1 0 0;
}

.cartline__quantity {
  flex: 1 0 0;
}

.cartline--remove {
  margin-left: auto;
}

.price {
  color: dodgerblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 42px;
}

.price__currency {
  font-size: 18px;
  padding-right: 10px;
}

.productlist {
  padding: 5px;
}

.productsummary {
  border: 1px solid #dedede;
  position: relative;
  border-radius: 5px;
  width: 33.333333%;
  float: left;
  height: 492px;
  text-align: center;
}

.productsummary__name {
  display: block;
  font-size: 22px;
  font-weight: bold
}

.productsummary__description {
  display: block;
}

.productsummary__image {
  display: inline-block;
}

.categorynavigation { @extend .navbar, .navbar-expand-lg, .navbar-light, .bg-light;
  ul { @extend .navbar-nav;
  }
}

.categorynavigation__navitem { @extend .nav-item;
  a { @extend .nav-link;

  }
}

.subcategorynavigation { @extend .navbar, .navbar-expand-lg, .navbar-dark, .bg-primary, .text-white;
  ul { @extend .navbar-nav;
  
  }
}

.subcategorynavigation__navitem { @extend .nav-item;
  a { @extend .nav-link;
    
  }
}