<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore>
    <pipelines>
      <!-- Have to add the graphql ui to the site neutral paths, if not authentication will not work:
           http://www.stockpick.nl/english/caveats-with-jss-graphql-endpoint/
      -->
      <owin.cookieAuthentication.validateIdentity>
        <processor type="Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.ValidateIdentity.ValidateSiteNeutralPaths, Sitecore.Owin.Authentication">
          <siteNeutralPaths hint="list">
            <path hint="grapql">/sitecore/api/graph/items/</path>
          </siteNeutralPaths>
        </processor>
      </owin.cookieAuthentication.validateIdentity>
      <group groupName="layoutService">
        <pipelines>
          <getFieldSerializer>
            <processor type="Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetMultilistFieldSerializer, Sitecore.LayoutService" resolve="true">
              <patch:attribute name="type">Jss.Commerce.Pipelines.GetFieldSerializer.GetProductExcludingMultilistFieldSerializer, Jss.Commerce</patch:attribute>
            </processor>
          </getFieldSerializer>
        </pipelines>
      </group>
      <group groupName="javaScriptServices">
        <pipelines>
          <trackEvent>
            <processor patch:before="*[@type='Sitecore.JavaScriptServices.Tracker.Pipelines.TrackEvent.TrackEvent, Sitecore.JavaScriptServices.Tracker']"
                       type="Jss.Commerce.Pipelines.Tracker.TrackCommerceEvent, Jss.Commerce" />
          </trackEvent>
        </pipelines>
      </group>
    </pipelines>
    <settings>
      <setting name="Sitecore.JSS.TrackerServiceEnabled" value="true" />
    </settings>
  </sitecore>
</configuration>